<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="6976c0ed-1fa8-4a4c-a4f3-ee37eb4035a4"
            Publisher="CN=michaelheydt"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>ST.IoT.Clients.Win.MyThings.Windows</DisplayName>
    <PublisherDisplayName>michaelheydt</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="ST.IoT.Clients.Win.MyThings.Windows.App">
        <m2:VisualElements
            DisplayName="ST.IoT.Clients.Win.MyThings.Windows"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="ST.IoT.Clients.Win.MyThings.Windows"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>